* {
    box-sizing: border-box;
}

.body {
    text-align: center;
    background-color: #fff;
    color: #333;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    transition: background-color 1s, color 0.3s;
}

body.dark-theme {
    background-color: #333;
}

.header {
    padding: 20px 40px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    background-color: rgb(241, 207, 254);
    text-align: center;
    align-items: center;
    display: flex;
}

.header__main {
    font-size: 2.2em;
    color: #333;
    margin-bottom: 10px;
    letter-spacing: 1px;
}

.header__navigation {
    display: flex;
    align-items: center;
    padding: 10px 20px;

}

.navigation__list {
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}


.nagivation__listItem {
    text-decoration: none;
    color: #555;
    font-weight: 500;
    transition: color 0.3s, transform 0.2s;
}

.nagivation__listItem:hover {
    color: #9c6ade;
    text-shadow: 0 0 5px #ffffff;
    transition: 0.3s;
}

.navigation__button {
    padding: 6px 12px;
    border-radius: 5px;
    background-color: #b2abeb;
    color: rgb(156, 152, 255);
    font-size: 16px;
    margin: 10px;
}

.navigation__button:hover {
    background-color: #a07ef8;
    transition: 0.5s;
}

.main {
    max-width: 1000px;
    margin: 50px auto;
    gap: 50px;
}

section {
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.section__about {
    background-color: #faf5ff;
}

.section__travel {
    background-color: #ffffff;
}

.section__concerts {
    background-color: #f4faff;
}

.section__future {
    background-color: #ffffff;
}

section h2 {
    font-size: 1.6em;
    color: #333;
    margin-bottom: 15px;
    border-bottom: 2px solid #eedcff;
    display: inline-block;
    padding-bottom: 5px;
}

.header__main {
    text-align: center;
}

.subheading {
    text-align: center;
    color: rgb(114, 143, 153);
}

.main__hobbiesButton {
    background-color: rgb(205, 173, 230);
    text-align: center;
    border-radius: 15px
}

.main__hobbiesButton:hover {
    background-color: #a07ef8;
    transition: 0.5s;
}

.concert {
    width: 200px;
    height: 350px;
    margin-right: 10px;
    text-align: center;
}

.gallery {
    text-align: center;
    vertical-align: 20px;

}

.concert {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    border-radius: 15px;
}

.travelText {
    text-align: center;
}

.trip {
    color: rgb(91, 82, 138);
    text-align: center;
}

.venice {
    width: 200px;
    height: 350px;
    text-align: center;
    border-radius: 15px;
}

.basilica {
    width: 200px;
    height: 350px;
    margin-right: 10px;
    text-align: center;
    border-radius: 15px
}

.image {
    background-color: rgb(184, 173, 230);
    text-align: center;
    border-radius: 15px;
}

.image:hover {
    background-color: #a07ef8;
    transition: 1s;
}

.paragraph {
    text-align: center;
}

.buttonText {
    text-align: center;
}

.table {
    border-collapse: collapse;
    text-align: center;
    caption-side: top;
    width: 80%;
    vertical-align: top;
    line-height: 1.5;
    padding: 12px 16px;
    border: 1px solid rgb(201, 176, 222);
    font-family: Arial, sans-serif;
    margin: 20px auto;
    background-color: #fafafa;
    outline: 2px solid rgb(188, 170, 217);
    box-shadow: 10px 2px 10px 5px #787878;
    font-style: italic;
    box-sizing: border-box;
    border-radius: 15px
}

.table,
.table th,
.table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

.table th {
    background-color: #ede9ff
}

.table tr:hover {
    background-color: rgb(206, 197, 244);
    transition: 0.5s;
}

footer {
    text-align: center;
    font-size: 0.9em;
    color: #777;
    padding: 25px 0;
    border-top: 1px solid #eee;
    margin-top: 50px;
    background-color: #f4ebff;
}

footer:hover {
    color: #9c6ade;
    transition: color 0.5s;
}